In [ ]:
import pandas as pd
import sqlite3 
conn = sqlite3.connect('data/chinook.db')
pd.read_sql("SELECT name FROM sqlite_master WHERE type ='table'",conn)

Write the call that will find the total amount of customers. You may need to use the SQL command, COUNT.

In [ ]:
pd.read_sql("SELECT COUNT(DISTINCT customerId) customerCount FROM customers",conn)

In [ ]:
pd.read_sql("SELECT * FROM customers LIMIT 1",conn)

In [ ]:
pd.read_sql("SELECT COUNT(*) FROM (SELECT DISTINCT FirstName, LastName FROM customers)",conn)