# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

### Boolean Subsetting

In [1]:
import pandas as pd

student_dict = {
    'name': ['Samantha', 'Alex', 'Dante', 'Samantha'],
    'age': ['35', '17', '26', '21'],
    'city': ['Houston', 'Seattle', 'New york', 'Atlanta'],
    'state': ['Texas', 'Washington', 'New York', 'Georgia']
}

students_df = pd.DataFrame(student_dict)

In [2]:
# The statement data[‘name’] == ‘Samantha’] produces a Pandas Series with a True/False value for every row
# in the ‘data’ DataFrame, where there are “True” values for the rows where the name is “Samantha”.
# These type of boolean arrays can be passed directly to the .loc indexer.
students_df.loc[students_df['name'] == 'Samantha']

       name age     city    state
0  Samantha  35  Houston    Texas
3  Samantha  21  Atlanta  Georgia

In [3]:
# What about if we only want the city and state of the selected students with the name Samantha?
students_df.loc[students_df['name'] == 'Samantha', ['city', 'state']]

      city    state
0  Houston    Texas
3  Atlanta  Georgia

In [4]:
# What amount if we want to select a student of a specific age?
students_df.loc[students_df['age'] == '21']

       name age     city    state
3  Samantha  21  Atlanta  Georgia

In [5]:
# What amount if we want to select a student of a specific age?
students_df.loc[(students_df['age'] == '21') &
                (students_df['city'] == 'Atlanta')]

       name age     city    state
3  Samantha  21  Atlanta  Georgia

In [10]:
students_df.query("age == '21' & city == 'Atlanta'")

       name age     city    state
3  Samantha  21  Atlanta  Georgia

In [ ]:
# What should be returned?
students_df.loc[(students_df['age'] == '35') &
                (students_df['city'] == 'Atlanta')]

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [ ]:
!pwd
!ls -al

In [11]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [12]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [13]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [14]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [15]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [16]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [17]:
# Use the code below. How does the output differ from info() ?
uci.

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [18]:
uci.ca.mean()

0.7293729372937293

#### The Axis Variable

In [20]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [ ]:
uci['age'].value_counts()[:10]

Exercise: What are the different values for restecg?

In [35]:
# Your code here!
uci.restecg.value_counts()
uci.restecg.groupby(uci.restecg).describe()

         count  mean  std  min  25%  50%  75%  max
restecg
0        147.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
1        152.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2          4.0   2.0  0.0  2.0  2.0  2.0  2.0  2.0

In [33]:
uci.thalach.groupby(uci.target).describe()

        count        mean        std   min    25%    50%    75%    max
target
0       138.0  139.101449  22.598782  71.0  125.0  142.0  156.0  195.0
1       165.0  158.466667  19.174276  96.0  149.0  161.0  172.0  202.0

In [34]:
# 10 most common ages
uci.age.value_counts()[:10]

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [36]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

In [37]:
animal_outcomes.describe()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,109461,74968,109461,109461,109461,109455,49877,109461,109458,109438,109461,109461
unique,98111,17943,90029,90029,6628,9,22,5,5,49,2484,579
top,A721033,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,09/01/2015,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,32,485,39,39,118,47675,27439,62014,38306,19838,30337,11467

In [52]:
animal_outcomes_clean = s
animal_outcomes_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109461 entries, 0 to 109460
Data columns (total 12 columns):
animal_id           109461 non-null object
name                74968 non-null object
datetime            109461 non-null object
monthyear           109461 non-null object
date_of_birth       109461 non-null object
outcome_type        109455 non-null object
outcome_subtype     49877 non-null object
animal_type         109461 non-null object
sex_upon_outcome    109458 non-null object
age_upon_outcome    109438 non-null object
breed               109461 non-null object
color               109461 non-null object
dtypes: object(12)
memory usage: 10.0+ MB

In [40]:
# What are the breed value_counts?

animal_outcomes.Breed.value_counts()[:10]

Domestic Shorthair Mix       30337
Pit Bull Mix                  8085
Labrador Retriever Mix        6330
Chihuahua Shorthair Mix       6039
Domestic Shorthair            3302
Domestic Medium Hair Mix      3040
German Shepherd Mix           2756
Bat Mix                       1743
Domestic Longhair Mix         1495
Australian Cattle Dog Mix     1392
Name: Breed, dtype: int64

In [48]:
# What's the top breed for adopted dogs?

animal_outcomes[(animal_outcomes["Outcome Type"] == "Adoption") & (animal_outcomes["Animal Type"] =="Dog")].Breed.value_counts()[:1]

Labrador Retriever Mix    3226
Name: Breed, dtype: int64

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [49]:
def successor(x):
    return x + 1

In [50]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [51]:
uci['age'].map(successor).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [ ]:
uci['oldpeak'].map(lambda x: round(x))[:4]

Exercise: Use an anonymous function to turn the entries in age to strings

In [55]:
uci.age.map(lambda x: str(x)).dtypes

dtype('O')

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [64]:
# Your code here
ao.head()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A805278,*Nabisco,2019-10-13 19:39:00,2019-10-13 19:39:00,09/24/2018,Adoption,NaN,Dog,Neutered Male,1 year,Labrador Retriever,Black/White
1,A794954,*Jeff,2019-10-13 19:30:00,2019-10-13 19:30:00,05/14/2017,Adoption,NaN,Dog,Neutered Male,2 years,Pit Bull,White/Brown Brindle
2,A804504,*Shortcake,2019-10-13 19:06:00,2019-10-13 19:06:00,07/15/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby
3,A796003,*Lex,2019-10-13 19:05:00,2019-10-13 19:05:00,05/27/2018,Adoption,NaN,Cat,Neutered Male,1 year,Domestic Shorthair,Black
4,A806063,NaN,2019-10-13 18:55:00,2019-10-13 18:55:00,07/21/2019,Adoption,NaN,Dog,Spayed Female,2 months,Siberian Husky,Tan/White

In [63]:
ao = animal_outcomes_clean
ao.datetime = pd.to_datetime(ao.datetime)
ao.monthyear = pd.to_datetime(ao.monthyear)

In [61]:
ao.describe()

0   2019-10-13 19:39:00
1   2019-10-13 19:30:00
2   2019-10-13 19:06:00
3   2019-10-13 19:05:00
4   2019-10-13 18:55:00
Name: datetime, dtype: datetime64[ns]

0    10/13/2019 07:39:00 PM
1    10/13/2019 07:30:00 PM
2    10/13/2019 07:06:00 PM
3    10/13/2019 07:05:00 PM
4    10/13/2019 06:55:00 PM
Name: datetime, dtype: object

In [68]:
import dateparser
ao.age_upon_outcome.apply(dateparser.parser)

TypeError: 'module' object is not callable

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

Exercise: Tell me the average cholesterol level for those with heart disease.

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values = 'sex', columns = 'target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [70]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [71]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_A',
          rsuffix = '_B').head()

   age  HP_A  HP_B
0   63   142   100
1   33    47   200

### `.merge()`

In [69]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

FileNotFoundError: File b'ds_chars.csv' does not exist

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here