# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

### Boolean Subsetting

In [1]:
import pandas as pd

student_dict = {
    'name': ['Samantha', 'Alex', 'Dante', 'Samantha'],
    'age': ['35', '17', '26', '21'],
    'city': ['Houston', 'Seattle', 'New york', 'Atlanta'],
    'state': ['Texas', 'Washington', 'New York', 'Georgia']
}

students_df = pd.DataFrame(student_dict)

In [2]:
# The statement data[‘name’] == ‘Samantha’] produces a Pandas Series with a True/False value for every row
# in the ‘data’ DataFrame, where there are “True” values for the rows where the name is “Samantha”.
# These type of boolean arrays can be passed directly to the .loc indexer.
students_df.loc[students_df['name'] == 'Samantha']

       name age     city    state
0  Samantha  35  Houston    Texas
3  Samantha  21  Atlanta  Georgia

In [3]:
# What about if we only want the city and state of the selected students with the name Samantha?
students_df.loc[students_df['name'] == 'Samantha', ['city', 'state']]

      city    state
0  Houston    Texas
3  Atlanta  Georgia

In [4]:
# What amount if we want to select a student of a specific age?
students_df.loc[students_df['age'] == '21']

       name age     city    state
3  Samantha  21  Atlanta  Georgia

In [5]:
# What amount if we want to select a student of a specific age?
students_df.loc[(students_df['age'] == '21') &
                (students_df['city'] == 'Atlanta')]

       name age     city    state
3  Samantha  21  Atlanta  Georgia

In [10]:
students_df.query("age == '21' & city == 'Atlanta'")

       name age     city    state
3  Samantha  21  Atlanta  Georgia

In [ ]:
# What should be returned?
students_df.loc[(students_df['age'] == '35') &
                (students_df['city'] == 'Atlanta')]

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [ ]:
!pwd
!ls -al

In [11]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [12]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [13]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [14]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [15]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [16]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [17]:
# Use the code below. How does the output differ from info() ?
uci.

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [18]:
uci.ca.mean()

0.7293729372937293

#### The Axis Variable

In [20]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [ ]:
uci['age'].value_counts()[:10]

Exercise: What are the different values for restecg?

In [35]:
# Your code here!
uci.restecg.value_counts()
uci.restecg.groupby(uci.restecg).describe()

         count  mean  std  min  25%  50%  75%  max
restecg
0        147.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
1        152.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2          4.0   2.0  0.0  2.0  2.0  2.0  2.0  2.0

In [33]:
uci.thalach.groupby(uci.target).describe()

        count        mean        std   min    25%    50%    75%    max
target
0       138.0  139.101449  22.598782  71.0  125.0  142.0  156.0  195.0
1       165.0  158.466667  19.174276  96.0  149.0  161.0  172.0  202.0

In [34]:
# 10 most common ages
uci.age.value_counts()[:10]

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [36]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

In [37]:
animal_outcomes.describe()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,109461,74968,109461,109461,109461,109455,49877,109461,109458,109438,109461,109461
unique,98111,17943,90029,90029,6628,9,22,5,5,49,2484,579
top,A721033,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,09/01/2015,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,32,485,39,39,118,47675,27439,62014,38306,19838,30337,11467

In [52]:
animal_outcomes_clean = animal_outcomes.rename(columns=lambda x:x.lower().replace(' ','_'))
animal_outcomes_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109461 entries, 0 to 109460
Data columns (total 12 columns):
animal_id           109461 non-null object
name                74968 non-null object
datetime            109461 non-null object
monthyear           109461 non-null object
date_of_birth       109461 non-null object
outcome_type        109455 non-null object
outcome_subtype     49877 non-null object
animal_type         109461 non-null object
sex_upon_outcome    109458 non-null object
age_upon_outcome    109438 non-null object
breed               109461 non-null object
color               109461 non-null object
dtypes: object(12)
memory usage: 10.0+ MB

In [40]:
# What are the breed value_counts?

animal_outcomes.Breed.value_counts()[:10]

Domestic Shorthair Mix       30337
Pit Bull Mix                  8085
Labrador Retriever Mix        6330
Chihuahua Shorthair Mix       6039
Domestic Shorthair            3302
Domestic Medium Hair Mix      3040
German Shepherd Mix           2756
Bat Mix                       1743
Domestic Longhair Mix         1495
Australian Cattle Dog Mix     1392
Name: Breed, dtype: int64

In [48]:
# What's the top breed for adopted dogs?

animal_outcomes[(animal_outcomes["Outcome Type"] == "Adoption") & (animal_outcomes["Animal Type"] =="Dog")].Breed.value_counts()[:1]

Labrador Retriever Mix    3226
Name: Breed, dtype: int64

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [49]:
def successor(x):
    return x + 1

In [50]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [51]:
uci['age'].map(successor).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [ ]:
uci['oldpeak'].map(lambda x: round(x))[:4]

Exercise: Use an anonymous function to turn the entries in age to strings

In [55]:
uci.age.map(lambda x: str(x)).dtypes

dtype('O')

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [64]:
# Your code here
ao.head()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A805278,*Nabisco,2019-10-13 19:39:00,2019-10-13 19:39:00,09/24/2018,Adoption,NaN,Dog,Neutered Male,1 year,Labrador Retriever,Black/White
1,A794954,*Jeff,2019-10-13 19:30:00,2019-10-13 19:30:00,05/14/2017,Adoption,NaN,Dog,Neutered Male,2 years,Pit Bull,White/Brown Brindle
2,A804504,*Shortcake,2019-10-13 19:06:00,2019-10-13 19:06:00,07/15/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby
3,A796003,*Lex,2019-10-13 19:05:00,2019-10-13 19:05:00,05/27/2018,Adoption,NaN,Cat,Neutered Male,1 year,Domestic Shorthair,Black
4,A806063,NaN,2019-10-13 18:55:00,2019-10-13 18:55:00,07/21/2019,Adoption,NaN,Dog,Spayed Female,2 months,Siberian Husky,Tan/White

In [63]:
ao = animal_outcomes_clean
ao.datetime = pd.to_datetime(ao.datetime)
ao.monthyear = pd.to_datetime(ao.monthyear)

In [61]:
ao.describe()

0   2019-10-13 19:39:00
1   2019-10-13 19:30:00
2   2019-10-13 19:06:00
3   2019-10-13 19:05:00
4   2019-10-13 18:55:00
Name: datetime, dtype: datetime64[ns]

0    10/13/2019 07:39:00 PM
1    10/13/2019 07:30:00 PM
2    10/13/2019 07:06:00 PM
3    10/13/2019 07:05:00 PM
4    10/13/2019 06:55:00 PM
Name: datetime, dtype: object

In [68]:
import dateparser
ao.age_upon_outcome.apply(dateparser.parser)

TypeError: 'module' object is not callable

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

Exercise: Tell me the average cholesterol level for those with heart disease.

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values = 'sex', columns = 'target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

In [77]:
df1 = pd.DataFrame([[1,'Alex','Anderson'],[2,'Amy','Ackerman']],columns=['subject_id','first_name','last_name'])
df2 = pd.DataFrame([[4,'Billy','Bonder'],[5,'Brian','Black']],columns=['subject_id','first_name','last_name'])

   subject_id first_name last_name
0           4      Billy    Bonder
1           5      Brian     Black

### `.join()`

In [70]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [71]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_A',
          rsuffix = '_B').head()

   age  HP_A  HP_B
0   63   142   100
1   33    47   200

### `.merge()`

In [83]:
pd.merge(df1,df2,how='outer')

   subject_id first_name last_name
0           1       Alex  Anderson
1           2        Amy  Ackerman
2           4      Billy    Bonder
3           5      Brian     Black

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [73]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

NameError: name 'ds_chars' is not defined

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [85]:
pd.concat([df1,df2],ignore_index=True)

   subject_id first_name last_name
0           1       Alex  Anderson
1           2        Amy  Ackerman
2           4      Billy    Bonder
3           5      Brian     Black

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [86]:
#code here
# import and clean the intake dataset first
animal_intakes = pd.read_csv('https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD')
ai = animal_intakes
ai.describe()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,109922,75094,109922,109922,109922,109922,109922,109922,109921,109922,109922,109922
unique,98518,18010,77449,77449,48376,5,10,5,5,49,2480,577
top,A721033,Max,09/23/2016 12:00:00 PM,09/23/2016 12:00:00 PM,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,491,64,64,19932,77510,96625,62157,35452,19624,30112,11510

In [87]:
ai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109922 entries, 0 to 109921
Data columns (total 12 columns):
Animal ID           109922 non-null object
Name                75094 non-null object
DateTime            109922 non-null object
MonthYear           109922 non-null object
Found Location      109922 non-null object
Intake Type         109922 non-null object
Intake Condition    109922 non-null object
Animal Type         109922 non-null object
Sex upon Intake     109921 non-null object
Age upon Intake     109922 non-null object
Breed               109922 non-null object
Color               109922 non-null object
dtypes: object(12)
memory usage: 10.1+ MB

In [88]:
# clean column names
ai = ai.rename(columns=lambda x:x.lower().replace(' ','_'))
ai.describe()

,animal_id,name,datetime,monthyear,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
count,109922,75094,109922,109922,109922,109922,109922,109922,109921,109922,109922,109922
unique,98518,18010,77449,77449,48376,5,10,5,5,49,2480,577
top,A721033,Max,09/23/2016 12:00:00 PM,09/23/2016 12:00:00 PM,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,491,64,64,19932,77510,96625,62157,35452,19624,30112,11510

In [89]:
ai.head()

,animal_id,name,datetime,monthyear,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A806679,NaN,10/14/2019 11:58:00 AM,10/14/2019 11:58:00 AM,1208 in Austin (TX),Stray,Normal,Other,Unknown,6 months,Rabbit Sh Mix,Brown
1,A806675,NaN,10/14/2019 11:26:00 AM,10/14/2019 11:26:00 AM,Braker And Bitter in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Yorkshire Terrier Mix,Gray
2,A806676,NaN,10/14/2019 11:20:00 AM,10/14/2019 11:20:00 AM,15511 West Highway 71 in Austin (TX),Stray,Normal,Cat,Unknown,1 year,Domestic Shorthair,Brown Tabby
3,A806674,NaN,10/14/2019 11:02:00 AM,10/14/2019 11:02:00 AM,7227 East Highway 290 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Labrador Retriever,Tan/White
4,A806671,Noble,10/14/2019 10:55:00 AM,10/14/2019 10:55:00 AM,East Slaughter Lane And Brandt Road in Austin ...,Stray,Normal,Dog,Intact Male,2 years,German Shepherd,Black/Brown

In [90]:
# clean datetime fields
ai.datetime = pd.to_datetime(ai.datetime)
ai.monthyear = pd.to_datetime(ai.monthyear)

In [91]:
ai.head()

,animal_id,name,datetime,monthyear,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A806679,NaN,2019-10-14 11:58:00,2019-10-14 11:58:00,1208 in Austin (TX),Stray,Normal,Other,Unknown,6 months,Rabbit Sh Mix,Brown
1,A806675,NaN,2019-10-14 11:26:00,2019-10-14 11:26:00,Braker And Bitter in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Yorkshire Terrier Mix,Gray
2,A806676,NaN,2019-10-14 11:20:00,2019-10-14 11:20:00,15511 West Highway 71 in Austin (TX),Stray,Normal,Cat,Unknown,1 year,Domestic Shorthair,Brown Tabby
3,A806674,NaN,2019-10-14 11:02:00,2019-10-14 11:02:00,7227 East Highway 290 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Labrador Retriever,Tan/White
4,A806671,Noble,2019-10-14 10:55:00,2019-10-14 10:55:00,East Slaughter Lane And Brandt Road in Austin ...,Stray,Normal,Dog,Intact Male,2 years,German Shepherd,Black/Brown

6 months

datetime.datetime(2019, 4, 14, 14, 10, 7, 545279)

In [114]:
# remove duplicates
ai = ai.drop_duplicates()
ai.describe()

Empty DataFrame
Columns: [animal_id, name, datetime, monthyear, found_location, intake_type, intake_condition, animal_type, sex_upon_intake, age_upon_intake, breed, color]
Index: []

In [116]:
ao[ao.duplicated(keep=False)].head()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
8015,A797007,Ummi,2019-06-09 16:33:00,2019-06-09 16:33:00,12/08/2009,Died,In Kennel,Dog,Neutered Male,9 years,Miniature Poodle,White
8016,A797007,Ummi,2019-06-09 16:33:00,2019-06-09 16:33:00,12/08/2009,Died,In Kennel,Dog,Neutered Male,9 years,Miniature Poodle,White
20389,A764464,Pepper,2018-09-18 14:28:00,2018-09-18 14:28:00,10/15/2017,Transfer,Partner,Dog,Spayed Female,11 months,Soft Coated Wheaten Terrier Mix,Black/Tricolor
20391,A764464,Pepper,2018-09-18 14:28:00,2018-09-18 14:28:00,10/15/2017,Transfer,Partner,Dog,Spayed Female,11 months,Soft Coated Wheaten Terrier Mix,Black/Tricolor
25865,A773428,*Atreyu,2018-06-07 09:31:00,2018-06-07 09:31:00,05/04/2018,Died,At Vet,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Orange Tabby
25866,A773428,*Atreyu,2018-06-07 09:31:00,2018-06-07 09:31:00,05/04/2018,Died,At Vet,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Orange Tabby
34230,A761936,NaN,2017-11-16 12:54:00,2017-11-16 12:54:00,01/12/2017,Transfer,Partner,Dog,Intact Male,10 months,Scottish Terrier Mix,Brown Brindle
34231,A761936,NaN,2017-11-16 12:54:00,2017-11-16 12:54:00,01/12/2017,Transfer,Partner,Dog,Intact Male,10 months,Scottish Terrier Mix,Brown Brindle
38713,A755088,Machete,2017-08-19 00:00:00,2017-08-19 00:00:00,09/29/2016,Adoption,NaN,Dog,Spayed Female,10 months,Australian Kelpie Mix,Black/White
38714,A755088,Machete,2017-08-19 00:00:00,2017-08-19 00:00:00,09/29/2016,Adoption,NaN,Dog,Spayed Female,10 months,Australian Kelpie Mix,Black/White
39408,A755687,NaN,2017-08-07 13:50:00,2017-08-07 13:50:00,08/07/2014,Disposal,NaN,Other,Unknown,3 years,Bat Mix,Brown
39410,A755687,NaN,2017-08-07 13:50:00,2017-08-07 13:50:00,08/07/2014,Disposal,NaN,Other,Unknown,3 years,Bat Mix,Brown
44603,A748204,Bob,2017-05-04 18:04:00,2017-05-04 18:04:00,02/04/2017,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Blue
44604,A748204,Bob,2017-05-04 18:04:00,2017-05-04 18:04:00,02/04/2017,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Blue
82895,A696688,Mari,2015-03-26 19:05:00,2015-03-26 19:05:00,02/10/2012,Adoption,NaN,Cat,Spayed Female,3 years,Domestic Shorthair Mix,Calico/White
82896,A696688,Mari,2015-03-26 19:05:00,2015-03-26 19:05:00,02/10/2012,Adoption,NaN,Cat,Spayed Female,3 years,Domestic Shorthair Mix,Calico/White
85366,A695798,Jim,2015-01-23 12:34:00,2015-01-23 12:34:00,02/23/2014,Euthanasia,Suffering,Cat,Neutered Male,10 months,Domestic Shorthair Mix,Orange
85367,A695798,Jim,2015-01-23 12:34:00,2015-01-23 12:34:00,02/23/2014,Euthanasia,Suffering,Cat,Neutered Male,10 months,Domestic Shorthair Mix,Orange
92570,A686827,NaN,2014-08-28 09:00:00,2014-08-28 09:00:00,02/27/2012,Transfer,SCRP,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Calico
92571,A686827,NaN,2014-08-28 09:00:00,2014-08-28 09:00:00,02/27/2012,Transfer,SCRP,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Calico
95138,A683782,NaN,2014-07-16 09:00:00,2014-07-16 09:00:00,02/15/2014,Transfer,SCRP,Cat,Neutered Male,4 months,Domestic Shorthair Mix,Brown Tabby
95148,A683782,NaN,2014-07-16 09:00:00,2014-07-16 09:00:00,02/15/2014,Transfer,SCRP,Cat,Neutered Male,4 months,Domestic Shorthair Mix,Brown Tabby
96108,A682781,NaN,2014-07-03 09:00:00,2014-07-03 09:00:00,01/02/2013,Transfer,SCRP,Cat,Neutered Male,1 year,Domestic Shorthair Mix,White/Black
96109,A682781,NaN,2014-07-03 09:00:00,2014-07-03 09:00:00,01/02/2013,Transfer,SCRP,Cat,Neutered Male,1 year,Domestic Shorthair Mix,White/Black
107677,A660948,*Roy,2013-11-03 18:16:00,2013-11-03 18:16:00,07/08/2013,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Brown Tabby/White
107678,A660948,*Roy,2013-11-03 18:16:00,2013-11-03 18:16:00,07/08/2013,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Brown Tabby/White

In [117]:
ao = ao.drop_duplicates()
ao.describe()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
count,109448,74960,109448,109448,109448,109442,49869,109448,109445,109425,109448,109448
unique,98111,17943,90029,90029,6628,9,22,5,5,49,2484,579
top,A721033,Max,2016-04-18 00:00:00,2016-04-18 00:00:00,09/01/2015,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,32,485,39,39,118,47671,27437,62010,38300,19837,30329,11466
first,NaN,NaN,2013-10-01 09:31:00,2013-10-01 09:31:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2019-10-13 19:39:00,2019-10-13 19:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
# Join the data from the Austin Animal Shelter Intake dataset to the outcomes dataset by Animal ID.
ao.columns

Index(['animal_id', 'name', 'datetime', 'monthyear', 'date_of_birth',
       'outcome_type', 'outcome_subtype', 'animal_type', 'sex_upon_outcome',
       'age_upon_outcome', 'breed', 'color'],
      dtype='object')

In [94]:
ai.columns

Index(['animal_id', 'name', 'datetime', 'monthyear', 'found_location',
       'intake_type', 'intake_condition', 'animal_type', 'sex_upon_intake',
       'age_upon_intake', 'breed', 'color'],
      dtype='object')

In [95]:
ai.set_index('animal_id')

,name,datetime,monthyear,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
animal_id,,,,,,,,,,,
A806679,NaN,2019-10-14 11:58:00,2019-10-14 11:58:00,1208 in Austin (TX),Stray,Normal,Other,Unknown,6 months,Rabbit Sh Mix,Brown
A806675,NaN,2019-10-14 11:26:00,2019-10-14 11:26:00,Braker And Bitter in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Yorkshire Terrier Mix,Gray
A806676,NaN,2019-10-14 11:20:00,2019-10-14 11:20:00,15511 West Highway 71 in Austin (TX),Stray,Normal,Cat,Unknown,1 year,Domestic Shorthair,Brown Tabby
A806674,NaN,2019-10-14 11:02:00,2019-10-14 11:02:00,7227 East Highway 290 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Labrador Retriever,Tan/White
A806671,Noble,2019-10-14 10:55:00,2019-10-14 10:55:00,East Slaughter Lane And Brandt Road in Austin ...,Stray,Normal,Dog,Intact Male,2 years,German Shepherd,Black/Brown
A806669,NaN,2019-10-14 09:55:00,2019-10-14 09:55:00,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,Australian Cattle Dog,White/Black
A806667,NaN,2019-10-14 08:58:00,2019-10-14 08:58:00,4434 Frontier Trl in Austin (TX),Stray,Injured,Cat,Unknown,1 year,Domestic Shorthair,Black
A806664,NaN,2019-10-14 08:34:00,2019-10-14 08:34:00,10111 Pinehurst in Austin (TX),Stray,Injured,Cat,Unknown,5 months,Domestic Shorthair,Gray
A806662,Winter,2019-10-14 08:13:00,2019-10-14 08:13:00,4434 Frontier in Austin (TX),Owner Surrender,Injured,Dog,Intact Female,2 years,Shetland Sheepdog,Black/White
A733498,Marley,2019-10-13 19:22:00,2019-10-13 19:22:00,4600 Mueller in Austin (TX),Stray,Normal,Dog,Neutered Male,6 years,Boxer Mix,Brown Brindle/White
A793977,Pichis,2019-10-13 18:54:00,2019-10-13 18:54:00,North Lamar Boulevard And West North Loop in A...,Stray,Normal,Dog,Spayed Female,2 years,Australian Kelpie Mix,Brown/White
A806654,NaN,2019-10-13 18:51:00,2019-10-13 18:51:00,William Cannon Drive And South Congress in Aus...,Stray,Normal,Dog,Intact Female,1 month,German Shepherd Mix,Tan/Black
A806652,NaN,2019-10-13 18:27:00,2019-10-13 18:27:00,8400 Jamestown Drive in Austin (TX),Stray,Normal,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Brown Tabby
A806653,NaN,2019-10-13 18:27:00,2019-10-13 18:27:00,8400 Jamestown Drive in Austin (TX),Stray,Normal,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Gray Tabby/White
A806649,NaN,2019-10-13 17:12:00,2019-10-13 17:12:00,Diamond Back And Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Rat Terrier Mix,Tricolor
A806650,NaN,2019-10-13 17:12:00,2019-10-13 17:12:00,801 Thurmond in Austin (TX),Stray,Normal,Dog,Intact Male,1 month,Chihuahua Shorthair/Dachshund,Black/White
A806647,NaN,2019-10-13 16:54:00,2019-10-13 16:54:00,716 Wales in Austin (TX),Wildlife,Sick,Other,Unknown,1 year,Raccoon,Black/Gray
A806648,NaN,2019-10-13 16:54:00,2019-10-13 16:54:00,Mopac Expressway And Duval in Austin (TX),Stray,Injured,Cat,Intact Female,1 month,Domestic Shorthair,Tortie
A806645,NaN,2019-10-13 16:47:00,2019-10-13 16:47:00,1821 Maize Bend in Austin (TX),Stray,Injured,Cat,Unknown,2 years,Domestic Medium Hair,White/Black
A761382,Cash,2019-10-13 16:47:00,2019-10-13 16:47:00,906 Sirocco in Austin (TX),Stray,Medical,Dog,Neutered Male,2 years,Chinese Sharpei Mix,Red
A806640,NaN,2019-10-13 16:26:00,2019-10-13 16:26:00,20500 Spanish Oaks Dr in Travis (TX),Stray,Normal,Dog,Intact Female,2 months,German Shepherd Mix,Black/Tan
A806642,NaN,2019-10-13 16:26:00,2019-10-13 16:26:00,20500 Spanish Oaks Dr in Travis (TX),Stray,Normal,Dog,Intact Male,2 months,German Shepherd Mix,Black/White
A806641,NaN,2019-10-13 16:26:00,2019-10-13 16:26:00,20500 Spanish Oaks Dr in Travis (TX),Stray,Normal,Dog,Intact Male,2 months,German Shepherd Mix,Black/Tan
A806644,NaN,2019-10-13 16:26:00,2019-10-13 16:26:00,20500 Spanish Oaks Dr in Travis (TX),Stray,Normal,Dog,Intact Male,2 months,German Shepherd Mix,Brown/Black
A806643,NaN,2019-10-13 16:26:00,2019-10-13 16:26:00,20500 Spanish Oaks Dr in Travis (TX),Stray,Normal,Dog,Intact Male,2 months,German Shepherd Mix,Brown/Black
A806638,NaN,2019-10-13 16:05:00,2019-10-13 16:05:00,8511 Forest Heights Lane in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Medium Hair,Black
A806636,NaN,2019-10-13 16:05:00,2019-10-13 16:05:00,8511 Forest Heights Lane in Austin (TX),Stray,Normal,Cat,Intact Male,1 month,Domestic Medium Hair,Black
A806639,NaN,2019-10-13 16:05:00,2019-10-13 16:05:00,8511 Forest Heights Lane in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Medium Hair,Black
A806637,NaN,2019-10-13 16:05:00,2019-10-13 16:05:00,8511 Forest Heights Lane in Austin (TX),Stray,Normal,Cat,Intact Male,1 month,Domestic Medium Hair,Black
A806632,NaN,2019-10-13 15:33:00,2019-10-13 15:33:00,21310 Lindeman Lane in Travis (TX),Stray,Injured,Dog,Intact Male,1 year,Alaskan Husky,Black/Gray
...,...,...,...,...,...,...,...,...,...,...,...
A664274,Estrella,2013-10-01 13:48:00,2013-10-01 13:48:00,Austin (TX),Owner Surrender,Normal,Dog,Intact Female,8 years,Siberian Husky Mix,Buff
A658012,Lucio,2013-10-01 13:48:00,2013-10-01 13:48:00,1505 Darold Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,3 years,Chihuahua Shorthair Mix,Red
A664253,Moose,2013-10-01 13:44:00,2013-10-01 13:44:00,Austin (TX),Public Assist,Normal,Dog,Neutered Male,2 years,Black/Tan Hound Mix,Black/Brown
A639030,Cate,2013-10-01 13:36:00,2013-10-01 13:36:00,46Th And Ave G in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,German Shepherd Mix,Tan
A664273,Buffy,2013-10-01 13:32:00,2013-10-01 13:32:00,Berkman Dr & Briarcliff Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Dachshund/Chihuahua Shorthair,Brown
A664272,*Grace,2013-10-01 13:12:00,2013-10-01 13:12:00,12005 Garden Grove Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,1 year,Cairn Terrier Mix,Brown
A664271,NaN,2013-10-01 12:35:00,2013-10-01 12:35:00,Spirit Of Texas in Austin (TX),Stray,Normal,Cat,Intact Female,1 week,Domestic Shorthair Mix,Orange Tabby
A664268,*Kochka,2013-10-01 12:05:00,2013-10-01 12:05:00,Austin (TX),Stray,Normal,Cat,Intact Female,3 years,Russian Blue Mix,Blue
A664267,*Asti,2013-10-01 11:59:00,2013-10-01 11:59:00,12501 Tech Ridge Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Pit Bull Mix,White/Black
A664265,*Dixon,2013-10-01 11:51:00,2013-10-01 11:51:00,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,2 months,Domestic Shorthair Mix,Brown Tabby
A664264,*Mason,2013-10-01 11:51:00,2013-10-01 11:51:00,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,2 months,Domestic Shorthair Mix,Brown Tabby
A664262,NaN,2013-10-01 11:45:00,2013-10-01 11:45:00,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
A664263,NaN,2013-10-01 11:45:00,2013-10-01 11:45:00,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
A664269,*Bismark,2013-10-01 11:28:00,2013-10-01 11:28:00,7500 S Ih 35 in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Great Pyrenees Mix,White
A664259,*Petunia,2013-10-01 11:25:00,2013-10-01 11:25:00,5001 Creek Bend in Austin (TX),Stray,Normal,Dog,Intact Female,5 years,Pit Bull Mix,Black
A651630,Heather,2013-10-01 11:23:00,2013-10-01 11:23:00,Outside Jurisdiction,Owner Surrender,Injured,Dog,Spayed Female,6 years,Labrador Retriever/Chinese Sharpei,Tan
A664260,NaN,2013-10-01 11:21:00,2013-10-01 11:21:00,3009 Meldrum St in Del Valle (TX),Stray,Normal,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Black/White
A664261,NaN,2013-10-01 11:21:00,2013-10-01 11:21:00,3009 Meldrum St in Del Valle (TX),Stray,Normal,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Tortie
A664258,Sylvio,2013-10-01 11:15:00,2013-10-01 11:15:00,Fm 1626/Manchaca Rd in Travis (TX),Stray,Normal,Dog,Neutered Male,7 years,Weimaraner Mix,Silver
A648744,Claire,2013-10-01 11:15:00,2013-10-01 11:15:00,Fm 1626/Manchaca Rd in Travis (TX),Stray,Normal,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor
A664266,NaN,2013-10-01 11:09:00,2013-10-01 11:09:00,Payton And 183 in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Chihuahua Shorthair Mix,Buff
A664257,Pippin,2013-10-01 11:01:00,2013-10-01 11:01:00,Burleson in Travis (TX),Stray,Normal,Dog,Intact Female,4 years,Podengo Pequeno Mix,Black
A664256,*Donnie,2013-10-01 10:59:00,2013-10-01 10:59:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,17 years,Domestic Shorthair Mix,Brown Tabby/White
A664234,NaN,2013-10-01 10:37:00,2013-10-01 10:37:00,5400 Jimmy Clay in Austin (TX),Stray,Injured,Dog,Intact Male,8 years,Border Collie Mix,Black/White
A664238,NaN,2013-10-01 09:33:00,2013-10-01 09:33:00,Outside Jurisdiction,Stray,Normal,Cat,Unknown,4 months,American Shorthair Mix,Black/White
A664233,Stevie,2013-10-01 08:53:00,2013-10-01 08:53:00,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White
A664235,NaN,2013-10-01 08:33:00,2013-10-01 08:33:00,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
A664237,NaN,2013-10-01 08:33:00,2013-10-01 08:33:00,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
A664236,NaN,2013-10-01 08:33:00,2013-10-01 08:33:00,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
A521520,Nina,2013-10-01 07:51:00,2013-10-01 07:51:00,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan

In [96]:
ao.set_index('animal_id')

,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
animal_id,,,,,,,,,,,
A805278,*Nabisco,2019-10-13 19:39:00,2019-10-13 19:39:00,09/24/2018,Adoption,NaN,Dog,Neutered Male,1 year,Labrador Retriever,Black/White
A794954,*Jeff,2019-10-13 19:30:00,2019-10-13 19:30:00,05/14/2017,Adoption,NaN,Dog,Neutered Male,2 years,Pit Bull,White/Brown Brindle
A804504,*Shortcake,2019-10-13 19:06:00,2019-10-13 19:06:00,07/15/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby
A796003,*Lex,2019-10-13 19:05:00,2019-10-13 19:05:00,05/27/2018,Adoption,NaN,Cat,Neutered Male,1 year,Domestic Shorthair,Black
A806063,NaN,2019-10-13 18:55:00,2019-10-13 18:55:00,07/21/2019,Adoption,NaN,Dog,Spayed Female,2 months,Siberian Husky,Tan/White
A795774,Neo,2019-10-13 18:50:00,2019-10-13 18:50:00,04/09/2019,Adoption,NaN,Dog,Neutered Male,6 months,Border Collie Mix,Black/White
A784016,Max,2019-10-13 18:15:00,2019-10-13 18:15:00,08/10/2018,Adoption,NaN,Dog,Neutered Male,1 year,Staffordshire Mix,Brown Brindle/White
A805524,Sirius,2019-10-13 18:15:00,2019-10-13 18:15:00,01/28/2019,Adoption,NaN,Dog,Neutered Male,8 months,Labrador Retriever Mix,Black/White
A804099,Jackson,2019-10-13 18:08:00,2019-10-13 18:08:00,09/10/2015,Adoption,NaN,Cat,Neutered Male,4 years,Domestic Shorthair,Black/White
A806213,NaN,2019-10-13 17:47:00,2019-10-13 17:47:00,07/29/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Blue Tabby
A806217,Butters,2019-10-13 17:46:00,2019-10-13 17:46:00,07/29/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Cream Tabby
A806358,Roxie,2019-10-13 17:41:00,2019-10-13 17:41:00,08/09/2019,Adoption,NaN,Dog,Spayed Female,2 months,Labrador Retriever Mix,Black/White
A709918,Francis,2019-10-13 17:40:00,2019-10-13 17:40:00,02/14/2015,Return to Owner,NaN,Dog,Spayed Female,4 years,Australian Cattle Dog Mix,White/Brown
A806155,Cuddles,2019-10-13 17:32:00,2019-10-13 17:32:00,08/06/2019,Adoption,NaN,Dog,Spayed Female,2 months,Miniature Pinscher Mix,Black/Tan
A786944,Smila,2019-10-13 17:30:00,2019-10-13 17:30:00,01/06/2010,Adoption,NaN,Cat,Spayed Female,9 years,Domestic Shorthair Mix,Black/White
A806372,Xio,2019-10-13 17:29:00,2019-10-13 17:29:00,10/09/2018,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Longhair,White
A806647,NaN,2019-10-13 17:27:00,2019-10-13 17:27:00,10/13/2018,Euthanasia,Suffering,Other,Unknown,1 year,Raccoon,Black/Gray
A806594,NaN,2019-10-13 17:23:00,2019-10-13 17:23:00,10/13/2015,Return to Owner,NaN,Dog,Unknown,4 years,Beagle,Tricolor
A806595,NaN,2019-10-13 17:22:00,2019-10-13 17:22:00,10/13/2015,Return to Owner,NaN,Dog,Unknown,4 years,Border Collie Mix,White
A803924,NaN,2019-10-13 17:22:00,2019-10-13 17:22:00,08/08/2019,Adoption,NaN,Cat,Intact Male,2 months,Domestic Shorthair,Brown Tabby/White
A806593,NaN,2019-10-13 17:21:00,2019-10-13 17:21:00,10/13/2018,Return to Owner,NaN,Other,Unknown,1 year,Snake,White/Yellow
A806338,NaN,2019-10-13 17:21:00,2019-10-13 17:21:00,10/09/2017,Adoption,NaN,Other,Unknown,2 years,Guinea Pig,Tricolor
A806336,NaN,2019-10-13 17:21:00,2019-10-13 17:21:00,10/09/2017,Adoption,NaN,Other,Unknown,2 years,Guinea Pig,Tricolor
A792433,Blaize,2019-10-13 17:18:00,2019-10-13 17:18:00,02/23/2019,Adoption,NaN,Dog,Neutered Male,7 months,Labrador Retriever Mix,Black/White
A806612,NaN,2019-10-13 17:10:00,2019-10-13 17:10:00,09/28/2019,Transfer,Partner,Cat,Intact Male,2 weeks,Domestic Shorthair Mix,Brown Tabby
A803531,NaN,2019-10-13 17:09:00,2019-10-13 17:09:00,08/10/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Orange Tabby/White
A805902,Rogue L .Sylva,2019-10-13 17:06:00,2019-10-13 17:06:00,07/03/2019,Adoption,NaN,Dog,Intact Female,3 months,Border Collie Mix,Black/White
A798892,*Moonpie,2019-10-13 16:57:00,2019-10-13 16:57:00,04/01/2019,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair,Black/White
A806220,*Jenny,2019-10-13 16:57:00,2019-10-13 16:57:00,12/07/2018,Adoption,NaN,Dog,Spayed Female,10 months,Pointer Mix,Tan
A805689,Yuumi,2019-10-13 16:45:00,2019-10-13 16:45:00,07/27/2019,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair,Blue Tabby/White
...,...,...,...,...,...,...,...,...,...,...,...
A663887,Hooch,2013-10-01 15:07:00,2013-10-01 15:07:00,09/25/2010,Euthanasia,Medical,Dog,Neutered Male,3 years,Pit Bull Mix,Red/White
A663935,NaN,2013-10-01 14:15:00,2013-10-01 14:15:00,09/26/1999,Transfer,Partner,Dog,Intact Male,14 years,Chihuahua Shorthair Mix,Brown
A663201,Buck,2013-10-01 14:14:00,2013-10-01 14:14:00,09/14/2011,Transfer,Partner,Dog,Neutered Male,2 years,Pit Bull Mix,Brown/White
A663955,NaN,2013-10-01 14:13:00,2013-10-01 14:13:00,09/27/1999,Transfer,Partner,Dog,Intact Female,14 years,Chihuahua Shorthair Mix,Black/Tan
A664171,Knight,2013-10-01 13:59:00,2013-10-01 13:59:00,12/30/2012,Return to Owner,NaN,Dog,Neutered Male,9 months,Basset Hound Mix,Black
A663938,NaN,2013-10-01 13:16:00,2013-10-01 13:16:00,09/27/2003,Euthanasia,Suffering,Dog,Neutered Male,10 years,Rottweiler/Labrador Retriever,Black/Tan
A664261,NaN,2013-10-01 13:00:00,2013-10-01 13:00:00,09/10/2013,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Tortie
A664260,NaN,2013-10-01 13:00:00,2013-10-01 13:00:00,09/10/2013,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Black/White
A664262,NaN,2013-10-01 12:59:00,2013-10-01 12:59:00,09/22/2013,Transfer,Partner,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
A664263,NaN,2013-10-01 12:58:00,2013-10-01 12:58:00,09/22/2013,Transfer,Partner,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
A664271,NaN,2013-10-01 12:57:00,2013-10-01 12:57:00,09/24/2013,Transfer,Partner,Cat,Intact Female,1 week,Domestic Shorthair Mix,Orange Tabby
A663495,Pikachu,2013-10-01 12:45:00,2013-10-01 12:45:00,05/19/2013,Return to Owner,NaN,Cat,Spayed Female,4 months,Domestic Shorthair Mix,Torbie
A664219,NaN,2013-10-01 12:34:00,2013-10-01 12:34:00,08/08/2013,Died,In Kennel,Cat,Intact Male,1 month,Domestic Shorthair Mix,Blue/White
A613553,Beast,2013-10-01 12:32:00,2013-10-01 12:32:00,05/06/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Pit Bull Mix,Black/White
A664258,Sylvio,2013-10-01 12:27:00,2013-10-01 12:27:00,10/01/2006,Return to Owner,NaN,Dog,Neutered Male,7 years,Weimaraner Mix,Silver
A648744,Claire,2013-10-01 12:27:00,2013-10-01 12:27:00,03/04/2012,Return to Owner,NaN,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor
A663546,*Gage,2013-10-01 12:24:00,2013-10-01 12:24:00,09/20/2011,Euthanasia,Aggressive,Dog,Neutered Male,2 years,American Bulldog Mix,White/Brown Brindle
A664225,Lou,2013-10-01 12:13:00,2013-10-01 12:13:00,09/30/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Shih Tzu Mix,Gray/White
A663342,Deco,2013-10-01 12:05:00,2013-10-01 12:05:00,09/17/2012,Euthanasia,Behavior,Dog,Neutered Male,1 year,Chesa Bay Retr Mix,Red/White
A661795,Blakie,2013-10-01 11:53:00,2013-10-01 11:53:00,03/25/2013,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair Mix,Tortie
A656894,Jake,2013-10-01 11:53:00,2013-10-01 11:53:00,04/22/2013,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Black
A663833,Baby Girl,2013-10-01 11:50:00,2013-10-01 11:50:00,09/24/2004,Return to Owner,NaN,Dog,Spayed Female,9 years,Labrador Retriever Mix,Black
A663572,*Starla,2013-10-01 11:42:00,2013-10-01 11:42:00,09/21/2010,Adoption,NaN,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown
A663888,NaN,2013-10-01 11:13:00,2013-10-01 11:13:00,09/25/2011,Transfer,Partner,Dog,Spayed Female,2 years,Boxer Mix,Red/White
A663646,NaN,2013-10-01 11:12:00,2013-10-01 11:12:00,09/22/2010,Transfer,Partner,Dog,Neutered Male,3 years,Toy Poodle Mix,White
A664223,Moby,2013-10-01 11:03:00,2013-10-01 11:03:00,09/30/2009,Return to Owner,NaN,Dog,Neutered Male,4 years,Bulldog Mix,White
A664236,NaN,2013-10-01 10:44:00,2013-10-01 10:44:00,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
A664237,NaN,2013-10-01 10:44:00,2013-10-01 10:44:00,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
A664235,NaN,2013-10-01 10:39:00,2013-10-01 10:39:00,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
A659834,*Dudley,2013-10-01 09:31:00,2013-10-01 09:31:00,07/23/2013,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black

In [118]:
ai.merge(ao)

,animal_id,name,datetime,monthyear,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,date_of_birth,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome
0,A792353,NaN,2019-04-09 15:58:00,2019-04-09 15:58:00,3001 S Fm 973 in Austin (TX),Stray,Sick,Cat,Unknown,2 years,Domestic Shorthair Mix,Orange Tabby,04/09/2017,Died,Enroute,Unknown,2 years
1,A749461,*Lars,2017-05-18 15:04:00,2017-05-18 15:04:00,Augusta Bend in Travis (TX),Stray,Normal,Cat,Spayed Female,3 years,Domestic Shorthair Mix,Orange Tabby,05/15/2014,Transfer,Snr,Spayed Female,3 years
2,A746505,Toby,2017-04-25 15:57:00,2017-04-25 15:57:00,7404 Langston Dr in Austin (TX),Stray,Normal,Dog,Intact Male,10 months,Chihuahua Shorthair Mix,Tan/White,06/04/2016,Return to Owner,NaN,Intact Male,10 months
3,A725607,*Jimmy,2016-06-21 18:13:00,2016-06-21 18:13:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Brown Tabby/White,03/19/2016,Adoption,Foster,Neutered Male,3 months
4,A722993,Sleepy,2016-06-18 11:23:00,2016-06-18 11:23:00,Leander (TX),Stray,Normal,Dog,Neutered Male,3 months,Plott Hound/Labrador Retriever,Black Brindle/White,02/27/2016,Adoption,Foster,Neutered Male,3 months

In [98]:
ai.merge(ao,how='inner')

,animal_id,name,datetime,monthyear,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,date_of_birth,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome
0,A792353,NaN,2019-04-09 15:58:00,2019-04-09 15:58:00,3001 S Fm 973 in Austin (TX),Stray,Sick,Cat,Unknown,2 years,Domestic Shorthair Mix,Orange Tabby,04/09/2017,Died,Enroute,Unknown,2 years
1,A749461,*Lars,2017-05-18 15:04:00,2017-05-18 15:04:00,Augusta Bend in Travis (TX),Stray,Normal,Cat,Spayed Female,3 years,Domestic Shorthair Mix,Orange Tabby,05/15/2014,Transfer,Snr,Spayed Female,3 years
2,A746505,Toby,2017-04-25 15:57:00,2017-04-25 15:57:00,7404 Langston Dr in Austin (TX),Stray,Normal,Dog,Intact Male,10 months,Chihuahua Shorthair Mix,Tan/White,06/04/2016,Return to Owner,NaN,Intact Male,10 months
3,A725607,*Jimmy,2016-06-21 18:13:00,2016-06-21 18:13:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Brown Tabby/White,03/19/2016,Adoption,Foster,Neutered Male,3 months
4,A722993,Sleepy,2016-06-18 11:23:00,2016-06-18 11:23:00,Leander (TX),Stray,Normal,Dog,Neutered Male,3 months,Plott Hound/Labrador Retriever,Black Brindle/White,02/27/2016,Adoption,Foster,Neutered Male,3 months

In [119]:
animals = ai.merge(ao,on=['animal_id','animal_type','breed','name','color'],suffixes=['_intake','_outcome'])

In [127]:
# create days_in_shelter column
from datetime import date

2016-08-23 12:39:00
2019-10-13 19:22:00

-1147

In [120]:
animals.describe()

,animal_id,name,datetime_intake,monthyear_intake,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,datetime_outcome,monthyear_outcome,date_of_birth,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome
count,140271,105115,140271,140271,140271,140271,140271,140271,140270,140271,140271,140271,140271,140271,140271,140265,54244,140267,140247
unique,97296,17830,76840,76840,48042,5,10,5,5,49,2473,576,89344,89344,6613,9,22,5,49
top,A721033,Lil Bit,2016-09-23 12:00:00,2016-09-23 12:00:00,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White,2016-04-18 00:00:00,2016-04-18 00:00:00,05/20/2015,Adoption,Partner,Neutered Male,1 year
freq,1056,1070,70,70,28479,94093,125875,89256,40625,26491,32962,15261,57,57,1095,62063,29903,54301,26758
first,NaN,NaN,2013-10-01 07:51:00,2013-10-01 07:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-10-01 10:39:00,2013-10-01 10:39:00,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2019-10-13 19:22:00,2019-10-13 19:22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-10-13 19:39:00,2019-10-13 19:39:00,NaN,NaN,NaN,NaN,NaN

In [122]:
# Some animals keep coming back

animals[animals.animal_id.duplicated(keep=False)]

,animal_id,name,datetime_intake,monthyear_intake,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,datetime_outcome,monthyear_outcome,date_of_birth,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome
0,A733498,Marley,2019-10-13 19:22:00,2019-10-13 19:22:00,4600 Mueller in Austin (TX),Stray,Normal,Dog,Neutered Male,6 years,Boxer Mix,Brown Brindle/White,2016-08-23 12:39:00,2016-08-23 12:39:00,08/22/2013,Return to Owner,NaN,Neutered Male,3 years
1,A733498,Marley,2016-08-22 16:59:00,2016-08-22 16:59:00,1403 Bentwood Rd in Austin (TX),Stray,Normal,Dog,Neutered Male,3 years,Boxer Mix,Brown Brindle/White,2016-08-23 12:39:00,2016-08-23 12:39:00,08/22/2013,Return to Owner,NaN,Neutered Male,3 years
2,A793977,Pichis,2019-10-13 18:54:00,2019-10-13 18:54:00,North Lamar Boulevard And West North Loop in A...,Stray,Normal,Dog,Spayed Female,2 years,Australian Kelpie Mix,Brown/White,2019-05-07 15:23:00,2019-05-07 15:23:00,05/02/2017,Adoption,NaN,Spayed Female,2 years
3,A793977,Pichis,2019-05-02 13:04:00,2019-05-02 13:04:00,8310 Wolf Lane in Travis (TX),Stray,Pregnant,Dog,Spayed Female,2 years,Australian Kelpie Mix,Brown/White,2019-05-07 15:23:00,2019-05-07 15:23:00,05/02/2017,Adoption,NaN,Spayed Female,2 years
5,A761382,Cash,2019-10-13 16:47:00,2019-10-13 16:47:00,906 Sirocco in Austin (TX),Stray,Medical,Dog,Neutered Male,2 years,Chinese Sharpei Mix,Red,2019-08-28 13:30:00,2019-08-28 13:30:00,03/03/2017,Return to Owner,NaN,Neutered Male,2 years
6,A761382,Cash,2019-10-13 16:47:00,2019-10-13 16:47:00,906 Sirocco in Austin (TX),Stray,Medical,Dog,Neutered Male,2 years,Chinese Sharpei Mix,Red,2019-01-11 18:34:00,2019-01-11 18:34:00,03/03/2017,Return to Owner,NaN,Neutered Male,1 year
7,A761382,Cash,2019-10-13 16:47:00,2019-10-13 16:47:00,906 Sirocco in Austin (TX),Stray,Medical,Dog,Neutered Male,2 years,Chinese Sharpei Mix,Red,2017-11-04 13:19:00,2017-11-04 13:19:00,03/03/2017,Return to Owner,NaN,Neutered Male,8 months
8,A761382,Cash,2019-08-27 13:22:00,2019-08-27 13:22:00,Okner And King Albert in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Chinese Sharpei Mix,Red,2019-08-28 13:30:00,2019-08-28 13:30:00,03/03/2017,Return to Owner,NaN,Neutered Male,2 years
9,A761382,Cash,2019-08-27 13:22:00,2019-08-27 13:22:00,Okner And King Albert in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Chinese Sharpei Mix,Red,2019-01-11 18:34:00,2019-01-11 18:34:00,03/03/2017,Return to Owner,NaN,Neutered Male,1 year
10,A761382,Cash,2019-08-27 13:22:00,2019-08-27 13:22:00,Okner And King Albert in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Chinese Sharpei Mix,Red,2017-11-04 13:19:00,2017-11-04 13:19:00,03/03/2017,Return to Owner,NaN,Neutered Male,8 months
11,A761382,Cash,2019-01-11 18:06:00,2019-01-11 18:06:00,Austin (TX),Stray,Normal,Dog,Neutered Male,1 year,Chinese Sharpei Mix,Red,2019-08-28 13:30:00,2019-08-28 13:30:00,03/03/2017,Return to Owner,NaN,Neutered Male,2 years
12,A761382,Cash,2019-01-11 18:06:00,2019-01-11 18:06:00,Austin (TX),Stray,Normal,Dog,Neutered Male,1 year,Chinese Sharpei Mix,Red,2019-01-11 18:34:00,2019-01-11 18:34:00,03/03/2017,Return to Owner,NaN,Neutered Male,1 year
13,A761382,Cash,2019-01-11 18:06:00,2019-01-11 18:06:00,Austin (TX),Stray,Normal,Dog,Neutered Male,1 year,Chinese Sharpei Mix,Red,2017-11-04 13:19:00,2017-11-04 13:19:00,03/03/2017,Return to Owner,NaN,Neutered Male,8 months
14,A761382,Cash,2017-11-03 17:16:00,2017-11-03 17:16:00,700 King Edward Place in Austin (TX),Stray,Normal,Dog,Neutered Male,8 months,Chinese Sharpei Mix,Red,2019-08-28 13:30:00,2019-08-28 13:30:00,03/03/2017,Return to Owner,NaN,Neutered Male,2 years
15,A761382,Cash,2017-11-03 17:16:00,2017-11-03 17:16:00,700 King Edward Place in Austin (TX),Stray,Normal,Dog,Neutered Male,8 months,Chinese Sharpei Mix,Red,2019-01-11 18:34:00,2019-01-11 18:34:00,03/03/2017,Return to Owner,NaN,Neutered Male,1 year
16,A761382,Cash,2017-11-03 17:16:00,2017-11-03 17:16:00,700 King Edward Place in Austin (TX),Stray,Normal,Dog,Neutered Male,8 months,Chinese Sharpei Mix,Red,2017-11-04 13:19:00,2017-11-04 13:19:00,03/03/2017,Return to Owner,NaN,Neutered Male,8 months
17,A782065,Prieto,2019-10-13 14:32:00,2019-10-13 14:32:00,Fm 969 And Taylor Lane in Manor (TX),Stray,Normal,Dog,Neutered Male,5 years,Labrador Retriever/Pit Bull,Black,2019-09-23 16:02:00,2019-09-23 16:02:00,10/25/2013,Return to Owner,NaN,Neutered Male,5 years
18,A782065,Prieto,2019-10-13 14:32:00,2019-10-13 14:32:00,Fm 969 And Taylor Lane in Manor (TX),Stray,Normal,Dog,Neutered Male,5 years,Labrador Retriever/Pit Bull,Black,2018-10-25 18:01:00,2018-10-25 18:01:00,10/25/2013,Rto-Adopt,NaN,Neutered Male,5 years
19,A782065,Prieto,2019-09-20 11:03:00,2019-09-20 11:03:00,5813 Wideleaf Drive in Austin (TX),Stray,Normal,Dog,Neutered Male,5 years,Labrador Retriever/Pit Bull,Black,2019-09-23 16:02:00,2019-09-23 16:02:00,10/25/2013,Return to Owner,NaN,Neutered Male,5 years
20,A782065,Prieto,2019-09-20 11:03:00,2019-09-20 11:03:00,5813 Wideleaf Drive in Austin (TX),Stray,Normal,Dog,Neutered Male,5 years,Labrador Retriever/Pit Bull,Black,2018-10-25 18:01:00,2018-10-25 18:01:00,10/25/2013,Rto-Adopt,NaN,Neutered Male,5 years
21,A782065,Prieto,2018-10-10 11:07:00,2018-10-10 11:07:00,5813 Wideleaf Drive in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,Labrador Retriever/Pit Bull,Black,2019-09-23 16:02:00,2019-09-23 16:02:00,10/25/2013,Return to Owner,NaN,Neutered Male,5 years
22,A782065,Prieto,2018-10-10 11:07:00,2018-10-10 11:07:00,5813 Wideleaf Drive in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,Labrador Retriever/Pit Bull,Black,2018-10-25 18:01:00,2018-10-25 18:01:00,10/25/2013,Rto-Adopt,NaN,Neutered Male,5 years
23,A782064,Midnight,2019-10-13 14:32:00,2019-10-13 14:32:00,Fm 969 And Taylor Lane in Manor (TX),Stray,Normal,Dog,Intact Female,1 year,Flat Coat Retriever Mix,Black,2019-09-23 15:48:00,2019-09-23 15:48:00,03/24/2018,Return to Owner,NaN,Intact Female,1 year
24,A782064,Midnight,2019-10-13 14:32:00,2019-10-13 14:32:00,Fm 969 And Taylor Lane in Manor (TX),Stray,Normal,Dog,Intact Female,1 year,Flat Coat Retriever Mix,Black,2018-10-24 19:47:00,2018-10-24 19:47:00,03/24/2018,Rto-Adopt,NaN,Intact Female,7 months
25,A782064,Midnight,2019-09-20 11:03:00,2019-09-20 11:03:00,5813 Wideleaf Drive in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Flat Coat Retriever Mix,Black,2019-09-23 15:48:00,2019-09-23 15:48:00,03/24/2018,Return to Owner,NaN,Intact Female,1 year
26,A782064,Midnight,2019-09-20 11:03:00,2019-09-20 11:03:00,5813 Wideleaf Drive in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Flat Coat Retriever Mix,Black,2018-10-24 19:47:00,2018-10-24 19:47:00,03/24/2018,Rto-Adopt,NaN,Intact Female,7 months
27,A782064,Midnight,2018-10-10 11:07:00,2018-10-10 11:07:00,5813 Wideleaf Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Flat Coat Retriever Mix,Black,2019-09-23 15:48:00,2019-09-23 15:48:00,03/24/2018,Return to Owner,NaN,Intact Female,1 year
28,A782064,Midnight,2018-10-10 11:07:00,2018-10-10 11:07:00,5813 Wideleaf Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Flat Coat Retriever Mix,Black,2018-10-24 19:47:00,2018-10-24 19:47:00,03/24/2018,Rto-Adopt,NaN,Intact Female,7 months
29,A797476,*Ollie,2019-10-13 12:55:00,2019-10-13 12:55:00,Austin (TX),Owner Surrender,Sick,Cat,Neutered Male,5 months,Domestic Shorthair,Black,2019-10-13 14:52:00,2019-10-13 14:52:00,05/05/2019,Euthanasia,Suffering,Neutered Male,5 months
30,A797476,*Ollie,2019-10-13 12:55:00,2019-10-13 12:55:00,Austin (TX),Owner Surrender,Sick,Cat,Neutered Male,5 months,Domestic Shorthair,Black,2019-09-21 15:12:00,2019-09-21 15:12:00,05/05/2019,Adoption,NaN,Neutered Male,4 months
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139475,A664943,*Leo,2013-10-11 12:45:00,2013-10-11 12:45:00,Cuernavaca in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,Labrador Retriever Mix,Black,2014-01-01 19:13:00,2014-01-01 19:13:00,12/31/2009,Adoption,NaN,Neutered Male,4 years
139476,A664943,*Leo,2013-10-11 12:45:00,2013-10-11 12:45:00,Cuernavaca in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,Labrador Retriever Mix,Black,2013-10-16 17:46:00,2013-10-16 17:46:00,12/31/2009,Adoption,NaN,Neutered Male,3 years
139497,A663889,Bejon,2013-10-16 16:29:00,2013-10-16 16:29:00,E Oltorf St/Burleson Rd in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Labrador Retriever/Beauceron,Black/Tan,2013-11-04 16:53:00,2013-11-04 16:53:00,09/25/2011,Adoption,NaN,Neutered Male,2 years
139498,A663889,Bejon,2013-10-16 16:29:00,2013-10-16 16:29:00,E Oltorf St/Burleson Rd in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Labrador Retriever/Beauceron,Black/Tan,2013-10-02 13:16:00,2013-10-02 13:16:00,09/25/2011,Adoption,NaN,Neutered Male,2 years
139608,A661830,Amalia,2013-10-15 08:25:00,2013-10-15 08:25:00,Jollyville At Balcones in Austin (TX),Stray,Normal,Cat,Intact Female,1 year,Domestic Medium Hair Mix,Torbie,2013-10-17 17:58:00,2013-10-17 17:58:00,08/25/2012,Transfer,SCRP,Intact Female,1 year
139609,A661830,Amalia,2013-10-15 08:25:00,2013-10-15 08:25:00,Jollyville At Balcones in Austin (TX),Stray,Normal,Cat,Intact Female,1 year,Domestic Medium Hair Mix,Torbie,2013-10-01 17:58:00,2013-10-01 17:58:00,08/25/2012,Transfer,SCRP,Intact Female,1 year
139685,A664093,Katrina,2013-10-13 13:53:00,2013-10-13 13:53:00,Outside Jurisdiction,Owner Surrender,Normal,Dog,Spayed Female,5 years,Rottweiler Mix,Black/Tan,2013-10-26 11:00:00,2013-10-26 11:00:00,09/29/2008,Transfer,Partner,Spayed Female,5 years
139686,A664093,Katrina,2013-10-13 13:53:00,2013-10-13 13:53:00,Outside Jurisdiction,Owner Surrender,Normal,Dog,Spayed Female,5 years,Rottweiler Mix,Black/Tan,2013-10-10 12:31:00,2013-10-10 12:31:00,09/29/2008,Adoption,NaN,Spayed Female,5 years
139689,A656696,*Angel,2013-10-13 12:52:00,2013-10-13 12:52:00,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Brown Tabby,2013-11-24 15:59:00,2013-11-24 15:59:00,06/18/2011,Adoption,Foster,Spayed Female,2 years
139690,A656696,*Angel,2013-10-13 12:52:00,2013-10-13 12:52:00,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Brown Tabby,2013-10-10 17:21:00,2013-10-10 17:21:00,06/18/2011,Transfer,Partner,Spayed Female,2 years
139703,A664188,Blue,2013-10-13 10:43:00,2013-10-13 10:43:00,6914 Blessings Ave in Austin (TX),Stray,Normal,Dog,Neutered Male,1 year,Pit Bull Mix,Blue/White,2013-10-17 14:38:00,2013-10-17 14:38:00,03/30/2012,Return to Owner,NaN,Neutered Male,1 year
139704,A664188,Blue,2013-10-13 10:43:00,2013-10-13 10:43:00,6914 Blessings Ave in Austin (TX),Stray,Normal,Dog,Neutered Male,1 year,Pit Bull Mix,Blue/White,2013-10-03 12:58:00,2013-10-03 12:58:00,03/30/2012,Return to Owner,NaN,Neutered Male,1 year
139711,A663667,*Cody,2013-10-12 17:17:00,2013-10-12 17:17:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,American Staffordshire Terrier Mix,White/Brown,2013-10-17 15:33:00,2013-10-17 15:33:00,09/22/2011,Euthanasia,Behavior,Neutered Male,2 years
139712,A663667,*Cody,2013-10-12 17:17:00,2013-10-12 17:17:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,American Staffordshire Terrier Mix,White/Brown,2013-10-05 17:05:00,2013-10-05 17:05:00,09/22/2011,Adoption,NaN,Neutered Male,2 years
139788,A663168,Archer,2013-10-11 13:21:00,2013-10-11 13:21:00,1010 Cesar Chavez in Austin (TX),Stray,Normal,Dog,Neutered Male,1 year,Catahoula Mix,Brown Merle,2013-10-14 18:44:00,2013-10-14 18:44:00,03/13/2012,Return to Owner,NaN,Neutered Male,1 year
139789,A663168,Archer,2013-10-11 13:21:00,2013-10-11 13:21:00,1010 Cesar Chavez in Austin (TX),Stray,Normal,Dog,Neutered Male,1 year,Catahoula Mix,Brown Merle,2013-10-09 15:32:00,2013-10-09 15:32:00,03/13/2012,Return to Owner,NaN,Neutered Male,1 year
139790,A663168,Archer,2013-10-08 18:14:00,2013-10-08 18:14:00,Holly And Chicon in Austin (TX),Stray,Normal,Dog,Neutered Male,1 year,Catahoula Mix,Brown Merle,2013-10-14 18:44:00,2013-10-14 18:44:00,03/13/2012,Return to Owner,NaN,Neutered Male,1 year
139791,A663168,Archer,2013-10-08 18:14:00,2013-10-08 18:14:00,Holly And Chicon in Austin (TX),Stray,Normal,Dog,Neutered Male,1 year,Catahoula Mix,Brown Merle,2013-10-09 15:32:00,2013-10-09 15:32:00,03/13/2012,Return to Owner,NaN,Neutered Male,1 year
139804,A664097,Remmy,2013-10-11 08:51:00,2013-10-11 08:51:00,South Austin in Austin (TX),Stray,Normal,Dog,Intact Female,9 months,Pointer Mix,Black/White,2013-10-11 13:13:00,2013-10-11 13:13:00,12/29/2012,Transfer,Partner,Intact Female,9 months
139805,A664097,Remmy,2013-10-11 08:51:00,2013-10-11 08:51:00,South Austin in Austin (TX),Stray,Normal,Dog,Intact Female,9 months,Pointer Mix,Black/White,2013-10-10 17:42:00,2013-10-10 17:42:00,12/29/2012,Transfer,Partner,Intact Female,9 months
139806,A664097,Remmy,2013-10-08 13:46:00,2013-10-08 13:46:00,Austin (TX),Owner Surrender,Normal,Dog,Intact Female,9 months,Pointer Mix,Black/White,2013-10-11 13:13:00,2013-10-11 13:13:00,12/29/2012,Transfer,Partner,Intact Female,9 months
139807,A664097,Remmy,2013-10-08 13:46:00,2013-10-08 13:46:00,Austin (TX),Owner Surrender,Normal,Dog,Intact Female,9 months,Pointer Mix,Black/White,2013-10-10 17:42:00,2013-10-10 17:42:00,12/29/2012,Transfer,Partner,Intact Female,9 months
139880,A663722,Jj,2013-10-09 12:11:00,2013-10-09 12:11:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black,2013-10-09 16:38:00,2013-10-09 16:38:00,07/16/2013,Transfer,Partner,Neutered Male,2 months
139881,A663722,Jj,2013-10-09 12:11:00,2013-10-09 12:11:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black,2013-10-06 18:24:00,2013-10-06 18:24:00,07/16/2013,Adoption,NaN,Neutered Male,2 months
139882,A663723,Tornado,2013-10-09 12:11:00,2013-10-09 12:11:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby,2013-10-09 16:42:00,2013-10-09 16:42:00,07/16/2013,Transfer,Partner,Neutered Male,2 months
139883,A663723,Tornado,2013-10-09 12:11:00,2013-10-09 12:11:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby,2013-10-06 18:24:00,2013-10-06 18:24:00,07/16/2013,Adoption,NaN,Neutered Male,2 months
140008,A663572,*Starla,2013-10-06 11:00:00,2013-10-06 11:00:00,Outside Jurisdiction,Owner Surrender,Normal,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown,2013-10-10 15:16:00,2013-10-10 15:16:00,09/21/2010,Transfer,Partner,Spayed Female,3 years
140009,A663572,*Starla,2013-10-06 11:00:00,2013-10-06 11:00:00,Outside Jurisdiction,Owner Surrender,Normal,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown,2013-10-01 11:42:00,2013-10-01 11:42:00,09/21/2010,Adoption,NaN,Spayed Female,3 years
140082,A663004,*Allie,2013-10-04 14:11:00,2013-10-04 14:11:00,2201 Willow Creek Dr in Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,8 months,Bulldog/Australian Cattle Dog,Black/White,2013-10-13 17:31:00,2013-10-13 17:31:00,01/14/2013,Adoption,NaN,Spayed Female,8 months
140083,A663004,*Allie,2013-10-04 14:11:00,2013-10-04 14:11:00,2201 Willow Creek Dr in Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,8 months,Bulldog/Australian Cattle Dog,Black/White,2013-10-02 18:58:00,2013-10-02 18:58:00,01/14/2013,Adoption,NaN,Spayed Female,8 months

In [133]:
# We're going to'get rid of those because the intakes and outcomes don't properly match. 
animals[~animals.animal_id.duplicated(keep=False)]
animals_unique = animals[~animals.animal_id.duplicated(keep=False)]

In [142]:
print(animals_unique.datetime_outcome[4])
print(animals_unique.datetime_intake[4])

2019-10-13 17:27:00
2019-10-13 16:54:00

In [147]:
animals_unique['days_in_shelter'] = (animals_unique.datetime_outcome-animals_unique.datetime_intake).map(lambda x: x.days)

/usr/local/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [148]:
animals_unique.days_in_shelter.value_counts()

 0       20133
 4        9502
 5        5450
 1        5263
 3        5112
 6        3785
 2        3762
 7        2905
 8        2466
 9        2142
 10       1817
 11       1542
 12       1100
 13        858
 14        847
 15        715
 16        668
 17        594
 18        589
 19        501
 20        471
 30        461
 23        452
 24        448
 21        448
-1         442
 22        436
 29        392
 28        380
 27        379
         ...
 398         1
 1101        1
 653         1
 525         1
 397         1
 652         1
 215         1
 343         1
 535         1
 344         1
 806         1
 997         1
 677         1
 357         1
 612         1
 418         1
 417         1
 544         1
 288         1
 287         1
 542         1
 447         1
 286         1
 605         1
 604         1
 476         1
 283         1
 282         1
 857         1
 478         1
Name: days_in_shelter, Length: 458, dtype: int64

In [160]:
animals_unique[animals_unique.days_in_shelter == -1][['datetime_intake','datetime_outcome']]

Empty DataFrame
Columns: [datetime_intake, datetime_outcome]
Index: []

In [159]:
animals_unique.loc[animals_unique.days_in_shelter == -1,'days_in_shelter'] = 0

Empty DataFrame
Columns: [animal_id, name, datetime_intake, monthyear_intake, found_location, intake_type, intake_condition, animal_type, sex_upon_intake, age_upon_intake, breed, color, datetime_outcome, monthyear_outcome, date_of_birth, outcome_type, outcome_subtype, sex_upon_outcome, age_upon_outcome, days_in_shelter]
Index: []

In [161]:
animals_unique.days_in_shelter.value_counts()

0       20575
4        9502
5        5450
1        5263
3        5112
6        3785
2        3762
7        2905
8        2466
9        2142
10       1817
11       1542
12       1100
13        858
14        847
15        715
16        668
17        594
18        589
19        501
20        471
30        461
23        452
24        448
21        448
22        436
29        392
28        380
27        379
31        377
        ...
398         1
1101        1
653         1
525         1
397         1
652         1
215         1
343         1
535         1
344         1
806         1
997         1
677         1
357         1
612         1
418         1
417         1
544         1
288         1
287         1
542         1
447         1
286         1
605         1
604         1
476         1
283         1
282         1
857         1
478         1
Name: days_in_shelter, Length: 457, dtype: int64